body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em; 
    background-color: hsl(0, 0%, 95%);
}

h1{ 
    color: rgb(115, 115, 185);
    font-size: 25px;
}

#form{ 
    background-color: white;
    margin: auto; 
    padding: 25px; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 14%, 49%, 0.589); 
}

#textBox { 
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    width: 50%;

}
 
label{ 
    font-size: 20px;
}


button{ 
    font-size: 20px;
    margin-top: 25px;
    background-color: white;
    cursor: pointer; 
}

button:hover{ 
    background-color: rgba(107, 97, 97, 0.66);
}

#result{ 
    font-weight: bold;
    font-size: 25px; 
}